* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

@font-face {
	font-family: 'Poppins';
	src: url("Poppins-Regular.ttf") format("truetype");
}

body {
	background: #000;
	color: #f4f4f4;
	font-size: 16pt;
	overflow: hidden;
}

.confirm-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #00000090;
}

.confirm p {
	font-family: Jetbrains Mono, sans-serif;
}

.confirm {
	background: rgba(0, 0, 0, .5);
	backdrop-filter: blur(2rem);
	border: 2px solid #007bff;
	height: 90%;
	width: 90%;
	box-shadow: 0 0 1rem #007bff, inset 0 0 0.5rem #007bff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 10%;
	font-size: 2em;
}

.buttons {
	display: flex;
	gap: 10%;
}
.confirm button {
	background: transparent;
	border: 1px solid #007bff;
	color: white;
	padding: 1rem;
	cursor: pointer;
}

.buttons button {
	background: transparent;
	border: 1px solid #007bff;
	font-size: 1.5em;
	color: white;
	width: calc(10vw + 10rem);
	cursor: pointer;
}

.confirm button:hover {
	background: rgba(0, 123, 255, 0.3);
}

.confirm button:active {
	background: rgba(0, 123, 255, 0.1);
}

.info {
	background-color: #00000050;
	border: 1px solid grey;
	border-radius: 1rem;
	backdrop-filter: blur(5rem);
	position: fixed;
	top: 50%;
	left: 0;
	translate: 0 -50%;
	margin-left: 1rem;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 5%;
	height: 80%;
	width: 20%;
	overflow: hidden scroll;
	transition: .3s;
}

.info::-webkit-scrollbar {
	width: 10px;
	background-color: #00000050;
}

.info::-webkit-scrollbar-thumb {
	background-color: #33333350;
	border-radius: inherit;
}

.info button {
	background-color: transparent;
	color: white;
	border: 1px solid #007bff;
	padding: 1rem 0;
	border-radius: 50px;
	cursor: pointer;
	transition: 0.125s;
}


.info #close {
	position: absolute;
	top: 0;
	right: -10px;
	height: 100%;
	width: 30px;
	font-size: 1.5rem;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	&:hover {
		background-color: #222;
	}
}

.info button:hover {
	background-color: #007bff50;
}

.planet-name {
    position: absolute;
    color: white;
    pointer-events: none;
    display: none;
    transition: .05s;
	background-color: #00000050;
	padding: 10px;
	border: 1px solid grey;
}
